body {
  display: flex;
  flex-direction: column;
}

.container {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  align-self: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  height: 600px;
  width: 400px;
}
.stuff {
  -webkit-animation: fadeIn 2s;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zip {
  opacity: 85%;
}

.submit {
  background-color: teal;
  color: white;
  font-weight: 900;
  transition: 0.4s;
  border: none;
  box-shadow: 5px 6px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 6px;
}
.submit:hover {
  background-color: rgb(185, 252, 252);
  color: teal;
  box-shadow: 5px 6px 11px 0 rgba(0, 0, 0, 0.4);
}
