@import url("https://fonts.googleapis.com/css2?family=Poppins:wgth@100;wght@700&display=swap");

body {
  background-color: #f8f8f8;
}
.container {
  display: flex;
  justify-content: center;
  margin: 3em;
  align-items: center;
  height: 100%;
  border-radius: 3em;
  background-color: white;
  box-shadow: 5px 10px #888888;
}
.col-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1rem;
}
.signup {
  display: flex;
  font-family: Poppins, sans-serif;
}
.input-container {
  display: flex;
  padding: 1em;
  align-items: center;
}
.form1 {
  display: flex;
  border: none;
  font-family: Poppins, sans-serif;
  flex-direction: column;
  align-items: center;

  width: 70%;
  padding: 10px;
}
.agree {
  display: flex;
  font-family: Poppins, sans-serif;
  flex-direction: row;
  margin-top: 3em;
}

.check {
  padding-right: 10px;
}
.register {
  display: flex;
  margin-top: 1em;
  justify-content: center;
  font-family: Poppins, sans-serif;
  padding: 3em;
}
.submit {
  display: flex;
  width: 130px;
  height: 50px;
  font-size: medium;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #c5dff6;
  color: white;
  padding: 50px, 80px;
  transition: all 0.5s;
}
.submit:hover {
  cursor: pointer;
  background-color: #6dabe4;
  transition-duration: 0.6s;
  color: white;
}
.submit:active {
  background-color: #c5dff6;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins, sans-serif;
  padding: 30px;
}
.member {
  display: flex;
  justify-content: center;
  font-family: Poppins, sans-serif;
}
