.heading {
  display: flex;
  justify-content: center;
}
.flex-container {
  display: flex;
}
.col-middle {
  display: flex;
  background-color: lightcyan;
}
.col-left {
  display: flex;
  flex-direction: column;
}
.nav-bar {
  background-color: transparent;
  border: none;
  padding: 7px;
}
